{% extends "info_page/base.html" %}

{% block head %}
  {% load static %}

  <script src="{% static "info_page/script.js" %}"></script>
  <link href="{% static "info_page/style.css" %}" rel=stylesheet />
  <noscript>
    <link href="{% static "info_page/style_nojs.css" %}" rel=stylesheet />
  </noscript>
{% endblock %}


{% block nav_links %}
  {% load static %}

  <a class="nav-item nav-link active" href="#bio">bio</a>
  <a class="nav-item nav-link" href="#projects">projects</a>
  <a class="nav-item" target="_blank" href="{% static "info_page/resumé.pdf" %}">resumé</a>
  <a class="nav-item" target="_blank" href="mailto://me@zanesterling.io">contact</a>
{% endblock %}


{% block sections %}
  <a name="bio"></a>
  <div class="section active" id="bio">
    <h2 class="section-title">Bio</h2>
    {% include "info_page/section-bio.html" %}
  </div>

  <a name="projects"></a>
  <div class="section" id="projects">
    <h2 class="section-title">Projects</h2>
    {% include "info_page/section-projects.html" %}
  </div>
{% endblock %}
