{% load static %}

<html>
<head>
  <title>Zane Sterling</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{% static "info_page/script.js" %}"></script>
  <link href="{% static "info_page/style.css" %}" rel=stylesheet />
  <link href="https://fonts.googleapis.com/css?family=Bitter|Lato" rel="stylesheet" />
</head>
<body>
  <div class="main-block">
    <img class="avatar circle" src="{% static "info_page/avatar.jpg" %}"/>
    <br>

    <div class="nav-links">
      <a class="nav-item nav-link" href="#bio">Bio</a>
      <a class="nav-item nav-link" href="#projects">Projects</a>
      <a class="nav-item" href="{% static "info_page/resume.pdf" %}">
        Resumé
      </a>
    </div>
    <hr class="header-separator">

    <div class="sections">
      <a name="bio"/>
      <div class="section active" id="bio">
        <h2 class="section-title">Bio</h2>
        <p>
          Lorem ipsum dolor sit amet, sea graecis gloriatur moderatius ut, ne
          unum oporteat nec. Partem malorum cu usu, iusto laoreet sed ex.
          Aeterno minimum voluptua eos no, ei est dicam nonumy luptatum, ut
          eleifend gubergren voluptaria ius.  Id his facete feugiat qualisque.
        </p>

        <p>
          Et sanctus mediocritatem qui. Has et soluta iriure persecuti, et mea
          mandamus adolescens dissentiunt. Et vel fierent facilisis, mei
          inimicus splendide deseruisse no. Nam copiosae scribentur in.
        </p>
      </div>

      <a name="projects"/>
      <div class="section" id="projects">
        <h2 class="section-title">Projects</h2>
        <p>
          Ea duo nullam putant, in mei nulla perpetua. An eum denique
          rationibus, voluptatum accommodare ad eam. Te qui vero omnium
          fierent, tota dolor nec ad. Has id autem consequat philosophia, at
          cum scriptorem omittantur, ex alienum fabellas vix. An verear
          scaevola complectitur ius, vim error solet inimicus et, vim dicunt
          utamur no. Molestie volutpat voluptaria an mel. Nec ex gloriatur
          consequuntur, quo magna quidam reprimique in.
        </p>

        <p>
          Apeirian inciderint disputationi his id, assum errem ex sit, ei has
          docendi commune. Cu atqui dissentias mea. Alienum intellegat
          necessitatibus eam ei, vix inermis commune eu, ne erat malis
          cotidieque cum. Mel illum dicunt intellegam ne. Ut fabellas
          elaboraret vel, te per putent definiebas dissentiet, mel option
          inimicus ea. Graece interpretaris vis ei, usu tota delicata no, ex
          oratio tation oporteat vix.
        </p>
      </div>
    </div>

    <div class="footer">
      <hr>
      © 2017 Zane Sterling<br>
      <a href="https://github.com/Shriken/zanesterling-io">Source code</a>
    </div>
  </div>
</body>
</html>
