<div class="container">
  <div>
    I'm Zane Sterling, a software engineer with an interest in operating
    systems and distributed systems.
  </div>

  <div>
    I currently attend Stony Brook University, where I run a weekly reading
    group for undergrads. We read papers on algorithms and play with algorithms
    problems.
  </div>

  <div>
    I've been doing cool summer projects for years. Here are some of them:
    <ul>
      <li>Summer 2017: Worked on fine location tracking at
      	<a href="https://facebook.com/pg/facebook/about">Facebook</a>
      <li>
      <li>Summer 2016: Worked on secure peer-to-peer devices at
        <a href="https://www.google.com/about/">Google</a>
      </li>
      <li>Summer 2015: Moved Bloomberg View to React at
        <a href="https://www.bloomberg.com/company/">Bloomberg LP</a>
      </li>
      <li>Summer 2014: Honed computer graphics skills with
        <a href="http://nealen.net/">Andy Nealen</a>
      </li>
      <li>Summer 2013: Built quadcopters at
        <a href="https://www.intersection.com/">Intersection</a>
      </li>
    </ul>
  </div>

  <div>
    In high school I was on
    <a href="https://stuypulse.com">StuyPulse</a>,
    Stuyvesant High School's award-winning team for the
    <a href="http://www.firstinspires.org/robotics/frc">FIRST Robotics Challenge</a>.
    We made it to world championships two out of three times.
    During my senior year I was robot operator and led testing and operations in the pit.
  </div>

  <div>
    I've done a few things I'm especially proud of, including:

    <ul>
      <li>
        I won 2nd place overall for
        <a href="#projects">HeadLights</a>
        at
        <a href="http://yhack.org">YHack 2014</a>
        .
      </li>

      <li>
        I won 1st place for
        <a href="https://github.com/Shriken/tint">Tint</a>
        at
        <a href="http://unhackathon.org">Unhackathon 2014</a>
        in the "Most Useful" category with my teammates
        <a href="http://hypersonic.me">Josh Hofing</a>
        and
        <a href="https://www.linkedin.com/in/mgouzenko">Mitchell Gouzenko</a>
        .
      </li>

      <li>
        I presented my project
        <a href="https://github.com/Shriken/frozen-syntax">Frozen Syntax</a>
        at the
        <a href="https://nytm.org">New York Tech Meetup Aug. 2014</a>
        with my teammates
        <a href="http://hypersonic.me">Josh Hofing</a>,
        <a href="https://www.linkedin.com/in/joshua-chin-b876b7a6">Josh Chin</a>,
        <a href="https://www.linkedin.com/in/sebastian-conybeare-22827b55">Sebastian Conybeare</a>.
      </li>

      <li>My team placed in the top 3.5% in
        <a href="https://2013.picoctf.com">PicoCTF 2013</a>.
      </li>
    </ul>
  </div>

  <div>
    I also run the circus club on campus. We teach and practice the circus arts
    and put on performances every now and then.
  </div>

  <div>
    Get in touch with <a href="mailto://me@zanesterling.io">me@zanesterling.io</a>.
  </div>
</div>
