<ul class="project-list">
  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/rforth">RForth</a>
    </div>
    <div class="project-summary">
      A
      <a href="https://en.wikipedia.org/wiki/Forth_(programming_language)">Forth</a>
      interpreter written to learn
      <a href="https://rust-lang.org">Rust</a>
      .
    </div>
    <div class="project-toolstack">Rust</div>
    <div class="project-date">Jan 2017</div>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/osdev">FROST</a>
    </div>
    <div class="project-summary">
      A monolithic OS written to learn how operating systems work.
    </div>
    <div class="project-toolstack">C, Assembly</div>
    <div class="project-date">Aug 2016 - Jan 2017</div>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/petri-dish">Petri Dish</a>
    </div>
    <div class="project-summary">
      A desktop clone of the
      <a href="https://play.google.com/store/apps/details?id=com.saterskog.cell_lab&hl=en">
        Cell Lab
      </a>
      android app to learn <a href="https://dlang.org">D</a>.
    </div>
    <div class="project-toolstack">D, SDL</div>
    <div class="project-date">Spring 2016</div>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/cloth-simulation">Cloth Simulation</a>
    </div>
    <div class="project-summary">
      A C++ implementation of <a href="http://dl.acm.org/citation.cfm?id=280821">Large Steps in Cloth Simulation</a>.
    </div>
    <div class="project-toolstack">C++, OpenGL</div>
    <div class="project-date">Spring 2015</div>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/animation-hacking">Animation Hacking</a>
    </div>
    <div class="project-summary">
      Experiments with the HTML5 canvas.
    </div>
    <div class="project-toolstack">JS</div>
    <div class="project-date">2015+</div>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/spinup">Spinup</a>
    </div>
    <div class="project-summary">
      A load balancer that spins up new servers only when you need them.
    </div>
    <div class="project-toolstack">C, Java, Intel Edison, Myo Armband</div>
    <div class="project-date">Jan 2015</div>
    <ul class="project-awards">
      <li>Made at <a href="https://pennapps.com">Penn Apps 2015</a>
    </ul>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/water-physics">Water Physics</a>
    </div>
    <div class="project-summary">
      A discrete un-simulation of water physics.
    </div>
    <div class="project-toolstack">Java</div>
    <div class="project-date">Jan 2015</div>
  </li>

  <li class="project">
    <div class="project-title">
      HeadLights
    </div>
    <div class="project-summary">
      An app for cyclists that turns
      <a href="http://bikesafety.caa.ca/cyclists/riding-skills-and-tips/hand-signals.php">
        standard hand signals
      </a>
      into blinkers on the back of your helmet.
    </div>
    <div class="project-toolstack">C, Java, Intel Edison, Myo Armband</div>
    <div class="project-date">Fall 2014</div>
    <ul class="project-awards">
      <li>Won 2nd overall at <a href="http://yhack.org/">YHack 2014</a></li>
    </ul>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/tint">Tint</a>
    </div>
    <div class="project-summary">
      A tool for automagically turning TODO comments into GitHub
      issues.
    </div>
    <div class="project-toolstack">Python, Javascript, HTML+Sass</div>
    <div class="project-date">Fall 2014</div>
    <ul class="project-awards">
      <li>Won "Most Useful" at <a href="http://unhackathon.org/">Unhackathon 2014</a></li>
    </ul>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/frozen-syntax">Frozen Syntax</a>
    </div>
    <div class="project-summary">
      A simultaneous turn-based strategy game based on writing Lisp to
      control your units.
    </div>
    <div class="project-toolstack">Python, Javascript, Lisp, HTML+Sass</div>
    <div class="project-date">Spring 2014</div>
    <ul class="project-awards">
      <li>Presented at <a href="https://nytm.org">New York Tech Meetup August 2014</a></li>
    </ul>
  </li>

  <li class="project">
    <div class="project-title">
      <a href="https://github.com/Shriken/rendering-engine-cpp">Rendering Engine</a>
    </div>
    <div class="project-summary">
      A 3D rendering engine built from per-pixel access.
    </div>
    <div class="project-toolstack">C++, SDL (for per-pixel access)</div>
    <div class="project-date">Spring 2014</div>
    <ul class="project-awards">
      <li>Built for the Computer Graphics class at <a href="stuy.enschool.org">Stuyvesant</a>.</li>
    </ul>
  </li>
</ul>
