a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.main-block {
	margin-left: 25%;
	margin-right: 25%;
}

img.avatar {
	display: block;
	margin: auto;
	width: 320px;
}

@media all and (max-width: 640px) {
	div.main-block {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

@media all and (max-width: 400px) {
	img.avatar {
		width: 80%;
	}
}

img.circle {
	border-radius: 50%;
}

div.nav-links {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

a.nav-item {
	flex: 1;
	text-align: center;
	font-family: Bitter, serif;
}

a.nav-item.active {
	font-weight: bold;
	text-decoration: underline;
}

div.sections {
	padding-left: 10%;
	padding-right: 6%;
	font-family: Lato, serif;
}

div.section {
	display: none;
}

div.section.active {
	display: inline-block;
}

div.footer {
	text-align: center;
	font-size: 8pt;
}
